/* EditarUsuario.css */

/* Contenedor principal */
.editar-usuario-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: 'Kulim Park', sans-serif;
  background: #FFF;
  overflow: hidden;
  margin-left: 5%
}



/* Main content */
.main-content-editar {
  margin-left: 240px;
  padding: 3% 5%;
  width: calc(100vw - 240px);
  overflow-y: auto;
  color: #000;
}

.page-title {
  font-size: clamp(30px, 4vw, 50px);
  font-weight: 200;
  margin-bottom: 5%;
  color: #000;
}



.form-label {
  font-size: clamp(13px, 1.2vw, 18px);
  font-weight: 600;
  margin-bottom: 0.5vh;
  color: #000;
  text-align: left;
}

.form-input,
.rol-select {
  width: 100%;
  height: clamp(32px, 3.5vh, 45px);
  padding: 0.5vh 1vw;
  font-size: clamp(12px, 1vw, 16px);
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  background: #fff;
  color: #000;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.form-input:focus,
.rol-select:focus {
  outline: none;
  border-color: #18529D;
  box-shadow: 0 2px 6px rgba(24, 82, 157, 0.2);
}

/* Select rol */
.rol-select {
  appearance: none;
  cursor: pointer;
  background: #fff url("data:image/svg+xml,%3Csvg viewBox='0 0 140 140' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70 100 L40 60 H100 Z' fill='%2319529D'/%3E%3C/svg%3E") no-repeat right 1em center;
  background-size: clamp(10px, 1vw, 14px);
}

/* Botón */
.action-buttons {
  grid-column: span 3;
  display: flex;
  justify-content: flex-start;
  margin-top: 2%;
}




.btn-desactivar {
  width: clamp(140px, 12vw, 200px);
  height: clamp(32px, 4vh, 45px);
  background-color: #BB0A21;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: clamp(13px, 1vw, 16px);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
 transform: translate(250%, 20%); 
}

.btn-desactivar:hover {
  background-color: #8f091b;
}

.btn-crear {
  width: clamp(140px, 12vw, 200px);
  height: clamp(32px, 4vh, 45px);
  background-color: #199532;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: clamp(13px, 1vw, 16px);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-bottom: 3%;
}

.btn-crear:hover {
  background-color: #147a28;
}




/* Responsive */
@media (max-width: 900px) {
  .form-grid {
    grid-template-columns: 1fr;
    gap: 15px 0;
  }
  .action-buttons {
    grid-column: span 1;
    justify-content: center;
  }

  .sidebar {
    width: 60px;
  }

  .main-content {
    margin-left: 60px;
    width: calc(100vw - 60px);
  }

  .sidebar ul li span {
    display: none;
  }
}
