.agenda-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #fff;
  font-family: 'Kulim Park', sans-serif;
}

.agenda-main {
  margin-left: 260px; /* ⬅️ Ajusta al ancho real del Sidebar */
  width: calc(100% - 260px); 
  padding: 2% 4%;
  overflow-y: auto;
}

.agenda-container {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  margin-top: -3%;
}

.agenda-title {
  font-size: clamp(24px, 2.5vw, 36px);
  font-weight: 700;
  margin-bottom: 20px;
  color: #18529D;
}



/* FullCalendar overrides */
.fc .fc-toolbar-title {
  font-size: 1.6rem;
  color: #18529D;
  font-weight: 700;
}

.fc .fc-button {
  background: #18529D;
  border: none;
  color: #fff;
  border-radius: 6px;
}

.fc .fc-button:hover {
  background: #0f3d75;
}

.fc .fc-daygrid-day-number {
  font-weight: 600;
}

.fc-event {
  border-radius: 6px;
  padding: 4px;
  font-weight: 500;
  font-size: 0.9rem;
}


/* -------- Modal -------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease;
  font-family: 'Kulim Park', sans-serif;
}

.modal-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #18529D;
  margin-bottom: 150px;
  margin-top: -15px;
  padding-bottom: 15px;
}

.modal-label {
  margin-top: 10px;
  font-weight: 600;
  color: #18529D;
}

.modal-input {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 8px;
}

.modal-btnCerrar {
  margin-top: 25px;
  width: 100%;
  padding: 10px;
  background: #18529D;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-btnCerrar:hover {
  background: #0f3d75;
}


.modal-btnGuardar {
  margin-top: 25px;
  width: 100%;
  padding: 10px;
  background: #199532;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-btnGuardar:hover {
  background: #157929;
}


